description "Girder Worker"

start on startup
stop on shutdown

# Auto-respawn
respawn
respawn limit 20 5

setuid "{{ ansible_user_id }}"
setgid "{{ ansible_user_id }}"

script
  cd "{{ worktree }}/girder_worker"
  {% if girder_venv is defined %}
  . "{{ girder_venv }}/bin/activate" && python -m girder_worker
  {% else %}
  exec python -m girder_worker
  {% endif %}
end script
